.container {
  display: flex;
  width: 100%;
  height: 100%;

  padding: 8vh 4rem;
  gap: 2rem;
  box-sizing: border-box;
  background: #f7f9fa;
}

.leftBlock {
  width: 60%;
  display: flex;
  flex-direction: column;
  animation: fadeInSlide 1s ease forwards;
  opacity: 0;
  transform: translateX(-40px);
  padding: 0 2vh 0 2vh;
}

.title {
  font-size: 2.5rem;
  margin: 5vh 0 3vh 0;
  color: #333;
}

.subtitleSecondary {
  font-size: 1.5rem;
  color: #f28200;
  margin: 3vh 0 5vh 0;
}

.text {
  font-size: 1.3rem;
  line-height: 1.5;
  color: #444;
  margin-bottom: 1rem;
}

.list {
  list-style: disc inside;
  margin-bottom: 1rem;
  font-size: 1.3rem;
  color: #444;
  padding-left: 1rem;
  li {
    font-weight: 500;
  }
}

.list li {
  position: relative;
  padding-left: 25px;
  margin-bottom: 0.5rem;
}

.list li::before {
  content: "✔";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  color: #f28200;
  font-weight: bold;
  font-size: 1.1em;
}
.button {
  margin: 5vh 0 5vh 5vh;
  align-self: flex-start;
  background-color: #f28200;
  color: white;
  font-weight: 600;
  padding: 1.2rem 2rem;
  font-size: 1.3rem;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 10px rgba(242, 130, 0, 0.5);
}

.button:hover,
.button:focus {
  background-color: #d96e00;
  box-shadow: 0 6px 14px rgba(217, 110, 0, 0.7);
}

.rightBlock {
  width: 40%;
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
  animation: fadeInSlide 1.2s ease forwards;
  opacity: 0;
  transform: translateX(40px);
  margin-bottom: 5vh;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 12px;
}

@media (max-width: 1500px) and (min-width: 901px) {
  .container {
    padding: 2rem 3rem;
    gap: 3rem;
  }

  .leftBlock {
    width: 60%;

    min-width: 500px;
  }

  .rightBlock {
    width: 40%;
    min-width: 300px;
  }
}
@media (max-width: 900px) {
  .container {
    flex-direction: column;
    padding: 2rem 1.5rem;
  }

  .leftBlock,
  .rightBlock {
    width: 100%;
    transform: none !important;
    opacity: 1 !important;
    animation: none !important;
  }

  .rightBlock {
    height: 300px;
    margin-top: 1.5rem;
  }
}

@keyframes fadeInSlide {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (min-width: 360px) and (max-width: 600px) {
  .title {
    font-size: 2.2rem;
    margin: 5vh 0 3vh 0;
    color: #333;
  }

  .subtitleSecondary {
    font-size: 1.4rem;
    color: #f28200;
    margin: 3vh 0 3vh 0;
  }

  .text {
    font-size: 1.2rem;
    line-height: 1.5;
    color: #444;
    margin-bottom: 1rem;
  }

  .list {
    list-style: disc inside;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    line-height: 1.5;
    color: #444;
    padding-left: 1rem;
  }

  .button {
    margin: 5vh 0 3vh 10vh;
    padding: 1rem 2rem;
    font-size: 1.1rem;
  }
}
